<?php

$finder = PhpCsFixer\Finder::create()
   ->in(__DIR__)
   ->exclude('var')
;

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
       '@Symfony' => true,
       '@Symfony:risky' => true,
       '@PhpCsFixer' => true,
       '@PhpCsFixer:risky' => true,
       '@PHP71Migration' => true,
       '@PHP71Migration:risky' => true,
       '@PHP73Migration' => true,
       'array_syntax' => ['syntax' => 'short'],
       'concat_space' => ['spacing' => 'one'],
       'ordered_imports' => false,
       'phpdoc_line_span' => [
           'const' => 'single',
           'method' => 'single',
           'property' => 'single',
       ],
       'phpdoc_to_return_type' => true,
       'yoda_style' => false,
   ])
    ->setFinder($finder)
    ;
